<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

<% include ./partials/header.ejs%>

<ul class="list-group">
    <% clients.forEach(function (client) {%>
    <li class="list-group-item">
        <%= client.name %> <br>
        <%= client.phone %> <br>
        <%= client.address %> <br>
        <%= client.address2%> <br>
        <%= client.state %> <br>
        <%= client.city %> <br>
        <%= client.zip %> <br>
        <%= client.yoe %> <br>
        <%= client.specialty %> <br>
    </li>
    <% })%>
</ul>

<% include ./partials/footer %>