<% include ./partials/header.ejs%>

<ul class="list-group">
    <% clients.forEach(function (client) {%>
    <li>
        <%= client.name %>
        <%= client.phone %>
        <%= client.address %>
        <%= client.address2%>
        <%= client.state %>
        <%= client.city %>
        <%= client.zip %>
        <%= client.yoe %>
        <%= client.specialty %>
    </li>
    <% })%>
</ul>

<% include ./partials/footer %>