<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">

<% include ./partials/header.ejs%>

<table class="table table-bordered">
    <% clients.forEach(function (client) {%>
    <li class="list-group">
        <%= client.name %>
        <%= client.phone %>
        <%= client.address %>
        <%= client.address2%>
        <%= client.state %>
        <%= client.city %>
        <%= client.zip %>
        <%= client.yoe %>
        <%= client.specialty %>
    </li>
    <% })%>
</table>

<% include ./partials/footer %>